.textPrimary {
  color: #fff;
}
header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
}
header h1 {
  font-size: 24px;
  font-weight: 400;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: small;
  margin-left: 2rem;
}
a:hover {
  text-decoration: underline;
}
